# Car Price Prediction::

Download dataset from this link:

https://www.kaggle.com/hellbuoy/car-price-prediction

# Problem Statement::

A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car
How well those variables describe the price of a car
Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

# task::
We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

# WORKFLOW ::

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

5.Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)
6.Train the Model with Epochs (100) and validate it

7.If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

8.Evaluation Step

9.Prediction

**Description of the Data set:**
The data set contains information regarding the various factors influencing the price of a particular car. There are a total of 26 columns/attributes like car name, fuel type, engine location, horsepower, peak rpm, city mpg etc also with the output variable/attribute price. There are a total of 205 observations.
Dataset:
To view and download the dataset and data dictionary click here.
Attribute Information:
1. **Car_ID**: Unique id of each observation (Integer)
2. **Symboling**: Its assigned insurance risk rating, A value of +3 indicates that the auto is risky, -3 that it is probably pretty safe. (Categorical)
3. **carCompany**: Name of a car company (Categorical)
4. **fueltype**: Car fuel type i.e gas or diesel (Categorical)
5. **aspiration**: Aspiration used in a car (Categorical)
6. **doornumber**: Number of doors in a car (Categorical)
7. **carbody**: the body of the car (Categorical)
8. **drivewheel**: type of drive wheel (Categorical)
9. **enginelocation**: Location of a car engine (Categorical)
10. **wheelbase**: Wheelbase of a car (Numeric)
11. **carlength**: Length of the car (Numeric)
12. **carwidth**: Width of the car (Numeric)
13. **carheight**: height of car (Numeric)
14. **curbweight**: The weight of a car without occupants or baggage. (Numeric)
15. **enginetype**: Type of engine. (Categorical)
16. **cylindernumber**: cylinder placed in the car (Categorical)
17. **enginesize**: Size of the car (Numeric)
18. **fuelsystem**: Fuel system of car (Categorical)
19. **boreratio**: Boreratio of a car (Numeric)
20. **stroke**: Stroke or volume inside the engine (Numeric)
21. **compressionratio**: compression ratio of a car (Numeric)
22. **horsepower**: Horsepower (Numeric)
23. **peakrpm**: car peak rpm (Numeric)
24. **citympg**: Mileage in the city (Numeric)
25. **highwaympg**: Mileage on highway (Numeric)
26. **price**: Price of the car (Numeric)(Dependent variable)

Import Dataset

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
car_data = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/DLAssignments/CarPriceAssignment.csv')

In [ ]:
car_data.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [ ]:
# Check how many rows and columns are in the dataset
car_data.shape

(205, 26)

In [ ]:
# Check columns in the dataset
car_data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

**Check for Null values**

In [ ]:
car_data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [ ]:
car_data.isnull()

     car_ID  symboling  CarName  fueltype  ...  peakrpm  citympg  highwaympg  price
0     False      False    False     False  ...    False    False       False  False
1     False      False    False     False  ...    False    False       False  False
2     False      False    False     False  ...    False    False       False  False
3     False      False    False     False  ...    False    False       False  False
4     False      False    False     False  ...    False    False       False  False
..      ...        ...      ...       ...  ...      ...      ...         ...    ...
200   False      False    False     False  ...    False    False       False  False
201   False      False    False     False  ...    False    False       False  False
202   False      False    False     False  ...    False    False       False  False
203   False      False    False     False  ...    False    False       False  False
204   False      False    False     False  ...    False    False       False  False

[205 rows x 26 columns]

In [ ]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [ ]:
# drop car_ID column
car_data.drop(columns=['car_ID'], inplace=True)

In [ ]:
# Check uniques car names
car_data['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [ ]:
# correct the name error in audi 100 ls
car_data.iloc[3,2] = 'audi 100ls'

In [ ]:
car_data.dtypes

symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [ ]:
# change the type of symboling column as it is a categorical column
car_data['symboling'] = car_data['symboling'].astype('object')

In [ ]:
car_data.columns

Index(['symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [ ]:
cat_cols = car_data.select_dtypes(include='object').columns

In [ ]:
# one-hot encode categorical columns
final_car = pd.get_dummies(car_data, cat_cols)

In [ ]:
final_car.describe()

        wheelbase   carlength  ...  fuelsystem_spdi  fuelsystem_spfi
count  205.000000  205.000000  ...       205.000000       205.000000
mean    98.756585  174.049268  ...         0.043902         0.004878
std      6.021776   12.337289  ...         0.205380         0.069843
min     86.600000  141.100000  ...         0.000000         0.000000
25%     94.500000  166.300000  ...         0.000000         0.000000
50%     97.000000  173.200000  ...         0.000000         0.000000
75%    102.400000  183.100000  ...         0.000000         0.000000
max    120.900000  208.100000  ...         1.000000         1.000000

[8 rows x 206 columns]

In [ ]:
#initialize a seed value so that each time we can get the same random number sequence, it will help us  as a team
# working on a common project to work on the same random data. Each new seed will generate a particular sequnce
#of random number. You can choose any seed value here of your choice
# 0.72 means we have taken 72% values for training set as we will make 72/4 = 18 rows of k fold validation data, where
# value of k will be 4 when we compile and fit our model for validation
np.random.seed(11111)
msk = np.random.rand(len(final_car)) < 0.72
train_total = final_car[msk]
test_total = final_car[~msk]

In [ ]:
print(len(train_total))
print(len(test_total))

141
64

In [ ]:
train_total.head(3)

   wheelbase  carlength  ...  fuelsystem_spdi  fuelsystem_spfi
1       88.6      168.8  ...                0                0
2       94.5      171.2  ...                0                0
3       99.8      176.6  ...                0                0

[3 rows x 206 columns]

In [ ]:
train_total.describe()

        wheelbase   carlength  ...  fuelsystem_spdi  fuelsystem_spfi
count  141.000000  141.000000  ...       141.000000       141.000000
mean    98.692199  173.658156  ...         0.035461         0.007092
std      6.005665   12.320089  ...         0.185601         0.084215
min     86.600000  144.600000  ...         0.000000         0.000000
25%     94.500000  166.300000  ...         0.000000         0.000000
50%     96.500000  172.400000  ...         0.000000         0.000000
75%    102.400000  180.300000  ...         0.000000         0.000000
max    115.600000  202.600000  ...         1.000000         1.000000

[8 rows x 206 columns]

In [ ]:
# get our price labels and store in another dataframe
train_label = train_total.loc[:,'price']
test_label = test_total.loc[:,'price']

In [ ]:
train_label

1      16500.0
2      16500.0
3      13950.0
4      17450.0
5      15250.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 141, dtype: float64

In [ ]:
test_label

0      13495.0
10     16430.0
14     24565.0
15     30760.0
18      5151.0
        ...
192    13845.0
193    12290.0
194    12940.0
196    15985.0
198    18420.0
Name: price, Length: 64, dtype: float64

In [ ]:
# drop price from oroginal training and test dataset , as price is not needed there
test_data= test_total.drop(columns = ['price'])
train_data= train_total.drop(columns = ['price'])

In [ ]:
train_data.shape

(141, 205)

In [ ]:
#get indices of the columns so that we can know how many columns we have to normalize, as catagorical columns which we
# have added with onehot encoding, do not need to be normalized.. normalizing will be done in next cell
{train_data.columns.get_loc(c): c for idx, c in enumerate(train_data.columns)}

{0: 'wheelbase',
 1: 'carlength',
 2: 'carwidth',
 3: 'carheight',
 4: 'curbweight',
 5: 'enginesize',
 6: 'boreratio',
 7: 'stroke',
 8: 'compressionratio',
 9: 'horsepower',
 10: 'peakrpm',
 11: 'citympg',
 12: 'highwaympg',
 13: 'symboling_-2',
 14: 'symboling_-1',
 15: 'symboling_0',
 16: 'symboling_1',
 17: 'symboling_2',
 18: 'symboling_3',
 19: 'CarName_Nissan versa',
 20: 'CarName_alfa-romero Quadrifoglio',
 21: 'CarName_alfa-romero giulia',
 22: 'CarName_alfa-romero stelvio',
 23: 'CarName_audi 100 ls',
 24: 'CarName_audi 100ls',
 25: 'CarName_audi 4000',
 26: 'CarName_audi 5000',
 27: 'CarName_audi 5000s (diesel)',
 28: 'CarName_audi fox',
 29: 'CarName_bmw 320i',
 30: 'CarName_bmw x1',
 31: 'CarName_bmw x3',
 32: 'CarName_bmw x4',
 33: 'CarName_bmw x5',
 34: 'CarName_bmw z4',
 35: 'CarName_buick century',
 36: 'CarName_buick century luxus (sw)',
 37: 'CarName_buick century special',
 38: 'CarName_buick electra 225 custom',
 39: 'CarName_buick opel isuzu deluxe',
 40: 'CarName_buick regal sport coupe (turbo)',
 41: 'CarName_buick skyhawk',
 42: 'CarName_buick skylark',
 43: 'CarName_chevrolet impala',
 44: 'CarName_chevrolet monte carlo',
 45: 'CarName_chevrolet vega 2300',
 46: 'CarName_dodge challenger se',
 47: 'CarName_dodge colt (sw)',
 48: 'CarName_dodge colt hardtop',
 49: 'CarName_dodge coronet custom',
 50: 'CarName_dodge coronet custom (sw)',
 51: 'CarName_dodge d200',
 52: 'CarName_dodge dart custom',
 53: 'CarName_dodge monaco (sw)',
 54: 'CarName_dodge rampage',
 55: 'CarName_honda accord',
 56: 'CarName_honda accord cvcc',
 57: 'CarName_honda accord lx',
 58: 'CarName_honda civic',
 59: 'CarName_honda civic (auto)',
 60: 'CarName_honda civic 1300',
 61: 'CarName_honda civic 1500 gl',
 62: 'CarName_honda civic cvcc',
 63: 'CarName_honda prelude',
 64: 'CarName_isuzu D-Max ',
 65: 'CarName_isuzu D-Max V-Cross',
 66: 'CarName_isuzu MU-X',
 67: 'CarName_jaguar xf',
 68: 'CarName_jaguar xj',
 69: 'CarName_jaguar xk',
 70: 'CarName_maxda glc deluxe',
 71: 'CarName_maxda rx3',
 72: 'CarName_mazda 626',
 73: 'CarName_mazda glc',
 74: 'CarName_mazda glc 4',
 75: 'CarName_mazda glc custom',
 76: 'CarName_mazda glc custom l',
 77: 'CarName_mazda glc deluxe',
 78: 'CarName_mazda rx-4',
 79: 'CarName_mazda rx-7 gs',
 80: 'CarName_mazda rx2 coupe',
 81: 'CarName_mercury cougar',
 82: 'CarName_mitsubishi g4',
 83: 'CarName_mitsubishi lancer',
 84: 'CarName_mitsubishi mirage',
 85: 'CarName_mitsubishi mirage g4',
 86: 'CarName_mitsubishi montero',
 87: 'CarName_mitsubishi outlander',
 88: 'CarName_mitsubishi pajero',
 89: 'CarName_nissan clipper',
 90: 'CarName_nissan dayz',
 91: 'CarName_nissan fuga',
 92: 'CarName_nissan gt-r',
 93: 'CarName_nissan juke',
 94: 'CarName_nissan kicks',
 95: 'CarName_nissan latio',
 96: 'CarName_nissan leaf',
 97: 'CarName_nissan note',
 98: 'CarName_nissan nv200',
 99: 'CarName_nissan otti',
 100: 'CarName_nissan rogue',
 101: 'CarName_nissan teana',
 102: 'CarName_nissan titan',
 103: 'CarName_peugeot 304',
 104: 'CarName_peugeot 504',
 105: 'CarName_peugeot 504 (sw)',
 106: 'CarName_peugeot 505s turbo diesel',
 107: 'CarName_peugeot 604sl',
 108: 'CarName_plymouth cricket',
 109: 'CarName_plymouth duster',
 110: 'CarName_plymouth fury gran sedan',
 111: 'CarName_plymouth fury iii',
 112: 'CarName_plymouth satellite custom (sw)',
 113: 'CarName_plymouth valiant',
 114: 'CarName_porcshce panamera',
 115: 'CarName_porsche boxter',
 116: 'CarName_porsche cayenne',
 117: 'CarName_porsche macan',
 118: 'CarName_renault 12tl',
 119: 'CarName_renault 5 gtl',
 120: 'CarName_saab 99e',
 121: 'CarName_saab 99gle',
 122: 'CarName_saab 99le',
 123: 'CarName_subaru',
 124: 'CarName_subaru baja',
 125: 'CarName_subaru brz',
 126: 'CarName_subaru dl',
 127: 'CarName_subaru r1',
 128: 'CarName_subaru r2',
 129: 'CarName_subaru trezia',
 130: 'CarName_subaru tribeca',
 131: 'CarName_toyota carina',
 132: 'CarName_toyota celica gt',
 133: 'CarName_toyota celica gt liftback',
 134: 'CarName_toyota corolla',
 135: 'CarName_toyota corolla 1200',
 136: 'CarName_toyota corolla 1600 (sw)',
 137: 'CarName_toyota corolla liftback',
 138: 'CarName_toyota corolla tercel',
 139: 'CarName_toyota corona',
 140: 'CarName_toyota corona hardtop',
 141: 'CarName_toyota corona liftback',
 142: 'CarName_toyota corona mark ii',
 143: 'CarName_toyota cressida',
 144: 'CarName_toyota mark ii',
 145: 'CarName_toyota starlet',
 146: 'CarName_toyota tercel',
 147: 'CarName_toyouta tercel',
 148: 'CarName_vokswagen rabbit',
 149: 'CarName_volkswagen 1131 deluxe sedan',
 150: 'CarName_volkswagen 411 (sw)',
 151: 'CarName_volkswagen dasher',
 152: 'CarName_volkswagen model 111',
 153: 'CarName_volkswagen rabbit',
 154: 'CarName_volkswagen rabbit custom',
 155: 'CarName_volkswagen super beetle',
 156: 'CarName_volkswagen type 3',
 157: 'CarName_volvo 144ea',
 158: 'CarName_volvo 145e (sw)',
 159: 'CarName_volvo 244dl',
 160: 'CarName_volvo 245',
 161: 'CarName_volvo 246',
 162: 'CarName_volvo 264gl',
 163: 'CarName_volvo diesel',
 164: 'CarName_vw dasher',
 165: 'CarName_vw rabbit',
 166: 'fueltype_audi 100ls',
 167: 'fueltype_diesel',
 168: 'fueltype_gas',
 169: 'aspiration_std',
 170: 'aspiration_turbo',
 171: 'doornumber_four',
 172: 'doornumber_two',
 173: 'carbody_convertible',
 174: 'carbody_hardtop',
 175: 'carbody_hatchback',
 176: 'carbody_sedan',
 177: 'carbody_wagon',
 178: 'drivewheel_4wd',
 179: 'drivewheel_fwd',
 180: 'drivewheel_rwd',
 181: 'enginelocation_front',
 182: 'enginelocation_rear',
 183: 'enginetype_dohc',
 184: 'enginetype_dohcv',
 185: 'enginetype_l',
 186: 'enginetype_ohc',
 187: 'enginetype_ohcf',
 188: 'enginetype_ohcv',
 189: 'enginetype_rotor',
 190: 'cylindernumber_eight',
 191: 'cylindernumber_five',
 192: 'cylindernumber_four',
 193: 'cylindernumber_six',
 194: 'cylindernumber_three',
 195: 'cylindernumber_twelve',
 196: 'cylindernumber_two',
 197: 'fuelsystem_1bbl',
 198: 'fuelsystem_2bbl',
 199: 'fuelsystem_4bbl',
 200: 'fuelsystem_idi',
 201: 'fuelsystem_mfi',
 202: 'fuelsystem_mpfi',
 203: 'fuelsystem_spdi',
 204: 'fuelsystem_spfi'}

In [ ]:
# Normalize training data

# get the mean and standard deviation
mean = train_data.iloc[:,0:13].mean(axis=0) # taking the mean of 
std = train_data.iloc[:,0:13].std(axis=0)

# Normalize training data features
train_data.iloc[:,0:13] -= mean
train_data.iloc[:,0:13] /= std

# Normalize test data features
test_data.iloc[:,0:13] -= mean
test_data.iloc[:,0:13] /= std

In [ ]:
# Normalize test data
mean_label = train_label.mean()
std_label = train_label.std()

# Normalize training data labels
train_label -= mean_label
train_label /= std_label

# Normalize test data labels
test_label -= mean_label
test_label /= std_label

In [ ]:
# save data into numpy arrays

# features
test = np.array(test_data.iloc[:])
train = np.array(train_data.iloc[:])

# labels
test_l= np.array(test_label.astype('float64'))
train_l= np.array(train_label.astype('float64'))

**Model Selection**

In [ ]:
# we are passing activation function as a parameter here so that we can call this function with tanh or relu while
# fitting and training the model
from keras import models
from keras import layers
def build_model(act):
  model = models.Sequential()
  model.add(layers.Dense(10, activation= act,input_shape=(train.shape[1],)))
  model.add(layers.Dense(8, activation= act))
  model.add(layers.Dense(6, activation= act))
  model.add(layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return model

In [ ]:
build_model('relu').summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                2060
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 2,209
Trainable params: 2,209
Non-trainable params: 0
_________________________________________________________________

In [ ]:
build_model('tanh').summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 10)                2060
_________________________________________________________________
dense_5 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_6 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 7
=================================================================
Total params: 2,209
Trainable params: 2,209
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Regularized model
from keras import regularizers
def build_model_regular(act):
  model = models.Sequential()
  model.add(layers.Dense(10, activation= act,kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001),input_shape=(train.shape[1],)))
  model.add(layers.Dense(8, activation= act,kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001)))
  model.add(layers.Dense(6, activation= act,kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001)))
  model.add(layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return model

In [ ]:
build_model_regular('tanh').summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 10)                2060
_________________________________________________________________
dense_9 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_10 (Dense)             (None, 6)                 54
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 7
=================================================================
Total params: 2,209
Trainable params: 2,209
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# dropout model
from keras import regularizers
def build_model_drop(act):
  model = models.Sequential()
  model.add(layers.Dense(10, activation= act,input_shape=(train.shape[1],)))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(8, activation= act))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(6, activation= act))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return model

**k-fold cross validation**

here we will use len(train)//k to make 141//4 = 36 rows for validation in each validation test and collect the validation scores for relu , tanh , regularization , and dropout

In [ ]:
#k fold validation with relu
# 141/4
import numpy as np
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_relu = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model('relu')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_relu.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [ ]:
# 141/4
#k fold validation with tanh
import numpy as np
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_tanh = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model('tanh')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_tanh.append(val_mae)

processing fold # 0
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ecb7c8c0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 1
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ff5cda70> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 2
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ecc9e0e0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 3
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ec6769e0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [ ]:
#k-fold validtion with regularization
import numpy as np
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_regular = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model_regular('relu')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_regular.append(val_mae)

processing fold # 0
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ecb64710> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 1
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ecb640e0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 2
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ecc743b0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 3
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59e310d7a0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [ ]:
#k-fold validtion with dropout
import numpy as np
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_drop = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model_drop('relu')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_drop.append(val_mae)

processing fold # 0
WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ecbb1e60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 1
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ecb5fcb0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 2
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ecb6fb00> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 3
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ec669cb0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

**Scores**
  * here we will see scores of all model which we have saved in the list during each training in above section

In [ ]:
all_scores_relu

[0.32640114426612854,
 0.25623390078544617,
 0.41865143179893494,
 0.4206165075302124]

In [ ]:
all_scores_tanh

[0.3693845272064209,
 0.27217864990234375,
 0.40958839654922485,
 0.4617631137371063]

In [ ]:
all_scores_regular

[0.24130652844905853,
 0.29543575644493103,
 0.40027496218681335,
 0.3180572986602783]

In [ ]:
all_scores_drop

[0.666169285774231, 0.8528464436531067, 0.5076651573181152, 0.3163154721260071]

**training on the training data**
  * here we will call each model separately from Models section and train on the training data and evaluate on the test data

In [ ]:
model_tanh = build_model('tanh')
model_tanh.fit(train, train_l,epochs= 80, batch_size=1, verbose=0)
test_mse_score, test_mae_score = model_tanh.evaluate(test, test_l)

WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59e310d440> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
2/2 [==============================] - 0s 8ms/step - loss: 0.1114 - mae: 0.2609

In [ ]:
model_relu = build_model('relu')
model_relu.fit(train, train_l,epochs= 80, batch_size=1, verbose=0)
test_mse_score, test_mae_score = model_relu.evaluate(test, test_l)

WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f59ec8e6e60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
2/2 [==============================] - 0s 5ms/step - loss: 0.1029 - mae: 0.2275

In [ ]:
model_regular = build_model_regular('relu')
model_regular.fit(train, train_l,epochs= 80, batch_size=1, verbose=0)
test_mse_score, test_mae_score = model_relu.evaluate(test, test_l)

2/2 [==============================] - 0s 4ms/step - loss: 0.1029 - mae: 0.2275

In [ ]:
model_drop = build_model_drop('relu')
model_drop.fit(train, train_l,epochs= 80, batch_size=1, verbose=0)
test_mse_score, test_mae_score = model_relu.evaluate(test, test_l)

2/2 [==============================] - 0s 7ms/step - loss: 0.1029 - mae: 0.2275

**Prediction Section**
  * here we will predict our prices of our test dataset with each model which we have trained in training section
  * Note that here we will use the reverse process of Normalization to retrieve our values of price in thousand of dollars i.e. x = (y - mean)/ std ==>> we will calculate y = x * std + mean and then we will compare it with our target values

In [ ]:
x_tanh = model_tanh.predict(test[5].reshape(1,test.shape[1]))

In [ ]:
x_tanh * std_label + mean_label

array([[6825.1455]], dtype=float32)

In [ ]:
x_relu = model_relu.predict(test[5].reshape(1,test.shape[1]))
x_relu * std_label + mean_label

array([[6442.5825]], dtype=float32)

In [ ]:
x_regular = model_regular.predict(test[5].reshape(1,test.shape[1]))
x_regular * std_label + mean_label

array([[7216.863]], dtype=float32)

In [ ]:
x_drop = model_drop.predict(test[5].reshape(1,test.shape[1]))
x_drop * std_label + mean_label

array([[9956.842]], dtype=float32)

In [ ]:
test_l[5]* std_label + mean_label

7609.0