# Car Price Prediction::

Download dataset from this link:

https://www.kaggle.com/hellbuoy/car-price-prediction

# Problem Statement::

A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car
How well those variables describe the price of a car
Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

# task::
We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

# WORKFLOW ::

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

5.Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)
6.Train the Model with Epochs (100) and validate it

7.If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

8.Evaluation Step

9.Prediction

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras import models
from tensorflow.keras import layers

INFO:tensorflow:Enabling eager execution
INFO:tensorflow:Enabling v2 tensorshape
INFO:tensorflow:Enabling resource variables
INFO:tensorflow:Enabling tensor equality
INFO:tensorflow:Enabling control flow v2

In [1]:
file = 'CarPrice_Assignment.csv'

In [5]:
car_data = pd.read_csv(file)

In [6]:
car_data.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [8]:
car_data.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [9]:
car_data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [11]:
car_data.drop(columns='car_ID', inplace=True)

In [12]:
car_data.isnull().sum()

symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [13]:
car_data['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [15]:
car_data.iloc[3,1] = 'audi 100ls'

In [25]:
car_data['symboling'] = car_data['symboling'].astype('object')

In [26]:
cols = car_data.select_dtypes(include='object').columns

In [27]:
cols

Index(['symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'enginetype',
       'cylindernumber', 'fuelsystem'],
      dtype='object')

In [28]:
final_car = pd.get_dummies(car_data, cols)

In [29]:
final_car.head(5)

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0

In [30]:
final_car.describe()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,...,0.004878,0.019512,0.053659,0.321951,0.014634,0.097561,0.004878,0.458537,0.043902,0.004878
std,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,...,0.069843,0.138655,0.225894,0.468368,0.120377,0.297446,0.069843,0.499498,0.205380,0.069843
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
np.random.seed(111111)
msk = np.random.rand(len(final_car)) < 0.72
train_total = final_car[msk]
test_total = final_car[~msk]

In [32]:
train_total

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
6,105.8,192.7,71.4,55.7,2844,136,3.19,3.40,8.5,110,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,104.3,188.8,67.2,57.5,3042,141,3.78,3.15,9.5,114,...,0,0,0,0,0,0,0,1,0,0
198,104.3,188.8,67.2,56.2,3045,130,3.62,3.15,7.5,162,...,0,0,0,0,0,0,0,1,0,0
199,104.3,188.8,67.2,57.5,3157,130,3.62,3.15,7.5,162,...,0,0,0,0,0,0,0,1,0,0
202,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,...,0,0,0,0,0,0,0,1,0,0
203,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,...,0,0,0,0,0,1,0,0,0,0

In [33]:
test_total.head(5)

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0
5,99.8,177.3,66.3,53.1,2507,136,3.19,3.40,8.5,110,...,0,0,0,0,0,0,0,1,0,0
11,101.2,176.8,64.8,54.3,2395,108,3.50,2.80,8.8,101,...,0,0,0,0,0,0,0,1,0,0
13,101.2,176.8,64.8,54.3,2765,164,3.31,3.19,9.0,121,...,0,0,0,0,0,0,0,1,0,0
14,103.5,189.0,66.9,55.7,3055,164,3.31,3.19,9.0,121,...,0,0,0,0,0,0,0,1,0,0

In [34]:
print(len(train_total))
print(len(test_total))

148
57

In [35]:
train_total.describe()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
count,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.00000,...,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.0
mean,98.811486,174.157432,65.864865,53.926351,2545.445946,125.479730,3.310270,3.261689,10.305541,102.72973,...,0.006757,0.027027,0.054054,0.331081,0.020270,0.108108,0.006757,0.445946,0.033784,0.0
std,6.014897,12.618991,2.214020,2.492065,520.110745,43.126214,0.267988,0.295451,4.155512,39.76865,...,0.082199,0.162713,0.226892,0.472200,0.141402,0.311571,0.082199,0.498757,0.181286,0.0
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,94.500000,166.300000,64.075000,52.000000,2200.750000,97.000000,3.145000,3.110000,8.600000,70.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,97.000000,173.100000,65.500000,54.100000,2406.500000,110.000000,3.270000,3.290000,9.000000,95.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,102.400000,183.775000,66.500000,55.700000,2917.750000,140.250000,3.540000,3.400000,9.400000,116.00000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [36]:
train_label = train_total.loc[:,'price']
test_label = test_total.loc[:,'price']

In [40]:
len(train_label)

148

In [39]:
len(test_label)

57

In [43]:
test_data = test_total.drop(columns='price')
train_data = train_total.drop(columns='price')

In [44]:
train_data.shape, test_data.shape

((148, 203), (57, 203))

In [45]:
{train_data.columns.get_loc(c): c for idx, c in enumerate(train_data.columns)}

{0: 'wheelbase',
 1: 'carlength',
 2: 'carwidth',
 3: 'carheight',
 4: 'curbweight',
 5: 'enginesize',
 6: 'boreratio',
 7: 'stroke',
 8: 'compressionratio',
 9: 'horsepower',
 10: 'peakrpm',
 11: 'citympg',
 12: 'highwaympg',
 13: 'symboling_-2',
 14: 'symboling_-1',
 15: 'symboling_0',
 16: 'symboling_1',
 17: 'symboling_2',
 18: 'symboling_3',
 19: 'CarName_Nissan versa',
 20: 'CarName_alfa-romero Quadrifoglio',
 21: 'CarName_alfa-romero giulia',
 22: 'CarName_alfa-romero stelvio',
 23: 'CarName_audi 100ls',
 24: 'CarName_audi 4000',
 25: 'CarName_audi 5000',
 26: 'CarName_audi 5000s (diesel)',
 27: 'CarName_audi fox',
 28: 'CarName_bmw 320i',
 29: 'CarName_bmw x1',
 30: 'CarName_bmw x3',
 31: 'CarName_bmw x4',
 32: 'CarName_bmw x5',
 33: 'CarName_bmw z4',
 34: 'CarName_buick century',
 35: 'CarName_buick century luxus (sw)',
 36: 'CarName_buick century special',
 37: 'CarName_buick electra 225 custom',
 38: 'CarName_buick opel isuzu deluxe',
 39: 'CarName_buick regal sport coupe (turbo)',
 40: 'CarName_buick skyhawk',
 41: 'CarName_buick skylark',
 42: 'CarName_chevrolet impala',
 43: 'CarName_chevrolet monte carlo',
 44: 'CarName_chevrolet vega 2300',
 45: 'CarName_dodge challenger se',
 46: 'CarName_dodge colt (sw)',
 47: 'CarName_dodge colt hardtop',
 48: 'CarName_dodge coronet custom',
 49: 'CarName_dodge coronet custom (sw)',
 50: 'CarName_dodge d200',
 51: 'CarName_dodge dart custom',
 52: 'CarName_dodge monaco (sw)',
 53: 'CarName_dodge rampage',
 54: 'CarName_honda accord',
 55: 'CarName_honda accord cvcc',
 56: 'CarName_honda accord lx',
 57: 'CarName_honda civic',
 58: 'CarName_honda civic (auto)',
 59: 'CarName_honda civic 1300',
 60: 'CarName_honda civic 1500 gl',
 61: 'CarName_honda civic cvcc',
 62: 'CarName_honda prelude',
 63: 'CarName_isuzu D-Max ',
 64: 'CarName_isuzu D-Max V-Cross',
 65: 'CarName_isuzu MU-X',
 66: 'CarName_jaguar xf',
 67: 'CarName_jaguar xj',
 68: 'CarName_jaguar xk',
 69: 'CarName_maxda glc deluxe',
 70: 'CarName_maxda rx3',
 71: 'CarName_mazda 626',
 72: 'CarName_mazda glc',
 73: 'CarName_mazda glc 4',
 74: 'CarName_mazda glc custom',
 75: 'CarName_mazda glc custom l',
 76: 'CarName_mazda glc deluxe',
 77: 'CarName_mazda rx-4',
 78: 'CarName_mazda rx-7 gs',
 79: 'CarName_mazda rx2 coupe',
 80: 'CarName_mercury cougar',
 81: 'CarName_mitsubishi g4',
 82: 'CarName_mitsubishi lancer',
 83: 'CarName_mitsubishi mirage',
 84: 'CarName_mitsubishi mirage g4',
 85: 'CarName_mitsubishi montero',
 86: 'CarName_mitsubishi outlander',
 87: 'CarName_mitsubishi pajero',
 88: 'CarName_nissan clipper',
 89: 'CarName_nissan dayz',
 90: 'CarName_nissan fuga',
 91: 'CarName_nissan gt-r',
 92: 'CarName_nissan juke',
 93: 'CarName_nissan kicks',
 94: 'CarName_nissan latio',
 95: 'CarName_nissan leaf',
 96: 'CarName_nissan note',
 97: 'CarName_nissan nv200',
 98: 'CarName_nissan otti',
 99: 'CarName_nissan rogue',
 100: 'CarName_nissan teana',
 101: 'CarName_nissan titan',
 102: 'CarName_peugeot 304',
 103: 'CarName_peugeot 504',
 104: 'CarName_peugeot 504 (sw)',
 105: 'CarName_peugeot 505s turbo diesel',
 106: 'CarName_peugeot 604sl',
 107: 'CarName_plymouth cricket',
 108: 'CarName_plymouth duster',
 109: 'CarName_plymouth fury gran sedan',
 110: 'CarName_plymouth fury iii',
 111: 'CarName_plymouth satellite custom (sw)',
 112: 'CarName_plymouth valiant',
 113: 'CarName_porcshce panamera',
 114: 'CarName_porsche boxter',
 115: 'CarName_porsche cayenne',
 116: 'CarName_porsche macan',
 117: 'CarName_renault 12tl',
 118: 'CarName_renault 5 gtl',
 119: 'CarName_saab 99e',
 120: 'CarName_saab 99gle',
 121: 'CarName_saab 99le',
 122: 'CarName_subaru',
 123: 'CarName_subaru baja',
 124: 'CarName_subaru brz',
 125: 'CarName_subaru dl',
 126: 'CarName_subaru r1',
 127: 'CarName_subaru r2',
 128: 'CarName_subaru trezia',
 129: 'CarName_subaru tribeca',
 130: 'CarName_toyota carina',
 131: 'CarName_toyota celica gt',
 132: 'CarName_toyota celica gt liftback',
 133: 'CarName_toyota corolla',
 134: 'CarName_toyota corolla 1200',
 135: 'CarName_toyota corolla 1600 (sw)',
 136: 'CarName_toyota corolla liftback',
 137: 'CarName_toyota corolla tercel',
 138: 'CarName_toyota corona',
 139: 'CarName_toyota corona hardtop',
 140: 'CarName_toyota corona liftback',
 141: 'CarName_toyota corona mark ii',
 142: 'CarName_toyota cressida',
 143: 'CarName_toyota mark ii',
 144: 'CarName_toyota starlet',
 145: 'CarName_toyota tercel',
 146: 'CarName_toyouta tercel',
 147: 'CarName_vokswagen rabbit',
 148: 'CarName_volkswagen 1131 deluxe sedan',
 149: 'CarName_volkswagen 411 (sw)',
 150: 'CarName_volkswagen dasher',
 151: 'CarName_volkswagen model 111',
 152: 'CarName_volkswagen rabbit',
 153: 'CarName_volkswagen rabbit custom',
 154: 'CarName_volkswagen super beetle',
 155: 'CarName_volkswagen type 3',
 156: 'CarName_volvo 144ea',
 157: 'CarName_volvo 145e (sw)',
 158: 'CarName_volvo 244dl',
 159: 'CarName_volvo 245',
 160: 'CarName_volvo 246',
 161: 'CarName_volvo 264gl',
 162: 'CarName_volvo diesel',
 163: 'CarName_vw dasher',
 164: 'CarName_vw rabbit',
 165: 'fueltype_diesel',
 166: 'fueltype_gas',
 167: 'aspiration_std',
 168: 'aspiration_turbo',
 169: 'doornumber_four',
 170: 'doornumber_two',
 171: 'carbody_convertible',
 172: 'carbody_hardtop',
 173: 'carbody_hatchback',
 174: 'carbody_sedan',
 175: 'carbody_wagon',
 176: 'drivewheel_4wd',
 177: 'drivewheel_fwd',
 178: 'drivewheel_rwd',
 179: 'enginelocation_front',
 180: 'enginelocation_rear',
 181: 'enginetype_dohc',
 182: 'enginetype_dohcv',
 183: 'enginetype_l',
 184: 'enginetype_ohc',
 185: 'enginetype_ohcf',
 186: 'enginetype_ohcv',
 187: 'enginetype_rotor',
 188: 'cylindernumber_eight',
 189: 'cylindernumber_five',
 190: 'cylindernumber_four',
 191: 'cylindernumber_six',
 192: 'cylindernumber_three',
 193: 'cylindernumber_twelve',
 194: 'cylindernumber_two',
 195: 'fuelsystem_1bbl',
 196: 'fuelsystem_2bbl',
 197: 'fuelsystem_4bbl',
 198: 'fuelsystem_idi',
 199: 'fuelsystem_mfi',
 200: 'fuelsystem_mpfi',
 201: 'fuelsystem_spdi',
 202: 'fuelsystem_spfi'}

In [47]:
mean = train_data.iloc[:,0:13].mean(axis=0)
std = train_data.iloc[:,0:13].std(axis=0)

train_data.iloc[:,0:13] -= mean
train_data.iloc[:,0:13] /= std

test_data.iloc[:,0:13] -= mean
test_data.iloc[:,0:13] /= std

In [48]:
mean_label = train_label.mean()
std_label = train_label.std()

train_label -= mean_label
train_label /= std_label

test_label -= mean_label
test_label /= std_label

In [49]:
test = np.array(train_data.iloc[:])
train = np.array(train_data.iloc[:])

test_l = np.array(test_label.astype('float64'))
train_l = np.array(train_label.astype('float64'))

In [53]:
def build_model(act):
    network = models.Sequential()
    network.add(layers.Dense(10, activation=act, input_shape=(train.shape[1],)))
    network.add(layers.Dense(8, activation=act))
    network.add(layers.Dense(6, activation=act))
    network.add(layers.Dense(1))
    network.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return network

In [54]:
build_model('relu').summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 10)                2040
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_4 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 7
=================================================================
Total params: 2,189
Trainable params: 2,189
Non-trainable params: 0
_________________________________________________________________

In [55]:
build_model('tanh').summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 10)                2040
_________________________________________________________________
dense_7 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_8 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 7
=================================================================
Total params: 2,189
Trainable params: 2,189
Non-trainable params: 0
_________________________________________________________________

In [56]:
from tensorflow.keras import regularizers
def build_model_regular(act):
    network = models.Sequential()
    network.add(layers.Dense(10, activation=act, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001), input_shape=(train.shape[1],)))
    network.add(layers.Dense(8, activation=act, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001)))
    network.add(layers.Dense(6, activation=act, kernel_regularizer= regularizers.l1_l2(l1=0.001, l2=0.001)))
    network.add(layers.Dense(1))
    network.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return network

In [57]:
build_model_regular('relu').summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 10)                2040
_________________________________________________________________
dense_11 (Dense)             (None, 8)                 88
_________________________________________________________________
dense_12 (Dense)             (None, 6)                 54
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 7
=================================================================
Total params: 2,189
Trainable params: 2,189
Non-trainable params: 0
_________________________________________________________________

In [58]:
build_model_regular('tanh').summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 10)                2040
_________________________________________________________________
dense_15 (Dense)             (None, 8)                 88
_________________________________________________________________
dense_16 (Dense)             (None, 6)                 54
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 7
=================================================================
Total params: 2,189
Trainable params: 2,189
Non-trainable params: 0
_________________________________________________________________

In [59]:
from keras import regularizers
def build_model_drop(act):
  network = models.Sequential()
  network.add(layers.Dense(10, activation= act,input_shape=(train.shape[1],)))
  network.add(layers.Dropout(0.5))
  network.add(layers.Dense(8, activation= act))
  network.add(layers.Dropout(0.5))
  network.add(layers.Dense(6, activation= act))
  network.add(layers.Dropout(0.5))
  network.add(layers.Dense(1))
  network.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return network

In [60]:
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_relu = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model('relu')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_relu.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [66]:
import numpy as np
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_tanh = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model('tanh')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_tanh.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [61]:
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_relu = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model('tanh')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_relu.append(val_mae)

processing fold # 0
WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_test_function.<locals>.test_function at 0x0000024919EA4310> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 1
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x0000024918A1EC10> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 2
processing fold # 3

In [62]:
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_regular = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model_regular('relu')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_regular.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [63]:
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_drop = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model_drop('relu')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_drop.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [64]:
all_scores_relu

[0.4351925253868103,
 0.35131072998046875,
 0.45657187700271606,
 0.37121737003326416]

In [67]:
all_scores_tanh

[0.37436896562576294,
 0.3962337076663971,
 0.49038469791412354,
 0.3897639214992523]

In [68]:
all_scores_regular

[0.3742404282093048,
 0.24100607633590698,
 0.3087977170944214,
 0.3554045557975769]

In [69]:
all_scores_drop

[0.6891456842422485,
 0.6871573328971863,
 0.5293300747871399,
 0.5259249806404114]

In [72]:
model_tanh = build_model('tanh')
model_tanh.fit(train, train_l,epochs= 80, batch_size=1, verbose=0)
test_mse_score, test_mae_score = model_tanh.evaluate(test, test_l)

ValueError: Data cardinality is ambiguous:
  x sizes: 148
  y sizes: 57
Make sure all arrays contain the same number of samples.